@model Cliente

<br />
@if (Model == null)
{
    <h2>@ViewBag.Mensagem</h2>
}
else
{
    <h2>@ViewBag.Mensagem @Model.Nome</h2>
    <table class="table table-hover">
        <tr>
            <td>Id_Cliente</td>
            <td>Nome</td>
            <td>Email</td>
        </tr>
        <tr>
            <td>@Model.IdCliente</td>
            <td>@Model.Nome</td>
            <td>@Model.Email</td>
            <td>
                <a class="btn btn-sm btn-warning" href="/cliente/update/@Model.IdCliente">Editar</a>
                <a class="btn btn-sm btn-danger" href="/cliente/delete/@Model.IdCliente">Apagar Conta</a>
            </td>
        </tr>
    </table>

    <a class="btn btn-primary" href="/Pedido/Index/@Model.IdCliente">Meus Pedidos</a>
}